@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);
html,body{
  width:100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'cwTeXYen', sans-serif;/* 網站使用載入的字型 */
  /*font-size: 2rem;*/
}

.content{
  min-height: 320px;
  flex:1 0 auto;
/*
  background: url("../images/img01.jpg") no-repeat center top;
  background-position: fixed;
  background-size: contain;*/

}

@media only screen and (min-device-width: 400px)
{
  .content{
    min-height: 480px;
/*
    background: url("../images/img01.jpg") no-repeat center top;
    background-position: fixed;
    background-size: cover;*/
  }

  .page-footer p
  {
    font-size:1.5rem;
  }
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .row{
  margin-bottom:0;
}
.content .row .col{
  margin-top:4em;
}
